
<div class = 'container-fluid' name = 'launches' style = 'width:98%;'>
    <div class = 'row' style="text-align: center; color:white; margin-top:2%;">
        <h1>LAUNCHES</h2>
        </br>
        <p>These are all the launches from the conception of spaceX</p>
    </div>
    <div class = 'row' style = 'margin-top:3%;'>
        <% begin %>
            <% @data[@first_item...@last_item].each do |data| %>
                <% @image = data['links']['mission_patch'].to_s %>
                <div class = 'col-4' style = 'box-shadow: inset -350px 0 100px 0 #151620; background-image: url(<%= @image %>) ; background-size:300px; background-repeat:no-repeat; background-position:left; height:300px;'>
                    <h3 style = 'color:white; text-align:center;'>Flight Number <%=data['flight_number']%></h3>
                    <p style = 'color:white; text-align:center;'>Mission: <%=data['mission_name']%>
                    
                    <p style = ' margin-top:15%; color:white; text-align:right;'>Launch year: <%=data['launch_year']%>
                    <p style = ' color:white; text-align:right;'>Rocket Name: <%=(data['rocket_name']) != nil ? (data['rocket_name']): 'Not Available'%>
                    <p style = ' color:white; text-align:right;'>Launch Year: <%=data['launch_year']%>
                </div>
            <% end %>
        <% rescue %>
            <h2 style = 'color:white;'>No More Data</h2>
        <% end %>
    </div>

    <div class = 'row' name = 'page_buttons' style = 'margin-top:5%; margin-bottom:5%;'>
        <div class = 'text-end'>
            <% if @page > 1 %>
                <a href = '/home/launches/<%= @page - 1 %>' ><button class="btn btn-primary float-right width:150px;">Prev</button></a>
            <% end %>

            <% if (@items_per_page * @page < @data.count + @items_per_page) %>
                <a href = '/home/launches/<%= @page + 1 %>' ><button class="btn btn-primary float-right width:150px;">Next</button></a>
            <% end %>
        </div>
    </div>
</div>
